<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
    <script src="app.js"></script>
    <script src="userComponent.js"></script>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

  </head>
  <body>
    <header class="header">
      <h1 class="title">Usuarios</h1>
    </header>
    <main class="container-avatars" id="avatars">
    </main>
    <section class="container-modal"id="modal">
    </section>
    <div class="close" id="closeModal">×</div>
  </body>
</html>
