@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
body{
    background-color: #D4D5EE;
    overflow-x: hidden;
}
.header{
    display: grid;
    align-items: center;
    height:80px;
}
.title{
    width:100%;
    margin: 0 10vw;
}
.container-avatars{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(19rem,1fr));
    gap:1rem;
    margin: 10px 10vw;
}
.avatar{
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: auto auto;
    gap:10px;
    padding:15px;
    border-radius: 8px;
    box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.avatar-img{
    border-radius:50%;
    width: 80px;
    margin-left:auto;
    margin-right:auto;
}
.avatar-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
}
.e-mail{
    font-weight: 600;
    font-size:12px;
}
.container-modal{
    display: none;
}
.show{
    display: block;
}
.modal{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.1);
    width:100%;
    height: 100vh;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    position: relative;
    background-color: #FFFFFF;
    width: 30vw;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.modal-img{
    width: 150px;
}
.close{
    font-weight: 700;
    font-size: 40px;
    padding:0 10px;
    position: fixed;
    z-index: 10;
    top: 0px;
    right: 5px;
    cursor: pointer;
}
@media only screen and (max-width:800px){
    .avatar{
        display: grid;
        grid-template-columns: 25vw auto;
        
    }
}
